*{

	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	
	

}

body{
	background-color: #0d4883;



}

html{ 

	font-size: 62.5%;
	
}


.form_veiculos{

	width: 445px;
	margin: 2rem auto;
	
}
.form_login{

	width: 445px;
	margin: 7rem auto;
	background-color: #FFF;
	
}

.form_atualizar{


	width: 445px;
	margin: 4rem auto;
	background-color: #FFF;


}

h1{

	font-size: 4rem;
	margin-bottom: 2.5rem;
	color: #f8f8f8;
	
}





.agrupamento_login{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #0a0a0a;
	padding: 5rem;
	border-radius: 50px;
	box-shadow: 30px 30px 30px  #050505;
	background-color: #FFF;
}

.agrupamento_cadastro{

	
	border: 7px solid #050505;
	padding: 5rem;
	border-radius: 75px;
	box-shadow: 50px 50px 10px #050505;
	background-color: #FFF;
}

.agrupamento_atualizar{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 7px solid #000000;
	padding: 2rem;
	border-radius: 75px;
	box-shadow: 30px 30px 30px  #050505;
	background-color: #FFF;
}

label, input[type="text"], input[type="password"],input[type="submit"]{

	font-size: 1.5rem;
	

}

input[type="text"], input[type="password"]{

	width: 300px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 20px;

}

input[type="submit"]{

	color: #FFF;
	width: 325px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 8px;
	background: #000000;
	border: 0;
	border: 1px solid rgb(5, 5, 5);
	border-radius: 8px;
	cursor: pointer;

}



.logo_login{
	
	width: 200px;

}


/* CSS PAINEL MENU */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #ffffff;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
	font-size: 2rem;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
}


/* PAGINA HOME ADMIN */


.home_page{

	background-image: url(../img/carro.png);
	
	
	
}

.home_user{

	font-size: 4rem;
	margin-bottom: 2.5rem;
	color: #efeff3;
}